<!DOCTYPE html>
<html lang="en">

<head>
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    
    
    
    
	<meta charset="utf-8">
	<title>AWS T&amp;C: portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<!-- css -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="css/jcarousel.css" rel="stylesheet" />
	<link href="css/flexslider.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />


	<!-- Theme skin -->
	<link href="skins/default.css" rel="stylesheet" />
    

    


    
    

    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





        <link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/dist/fonts/lato/latin/LatoLatin-Regular-3cd3657802.woff2" as="font" type="font/woff2" crossorigin>
      <!--<link rel="shortcut icon" type="image/x-icon" href="https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico" />-->
      <!--<link rel="apple-touch-icon" href="https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png" />
            <link rel="alternate" type="application/atom+xml" title="User Atom Feed (All Courses)" href="/feeds/users/user_W7ugviJk5DKGlnldTWmq9jTWb5ejHtqkQtVup60s.atom" />-->

     <!-- <link rel="stylesheet" media="all" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/161c0b531f2122e0c782306e55cb52de/variables-750d72b9d3e5d522f965bf904110c132.css" />-->
    
    
    
     <style>
    
        a, a:hover,a:focus,a:active, footer a.text-link:hover, strike, .post-meta span a:hover, footer a.text-link, 
        ul.meta-post li a:hover, ul.cat li a:hover, ul.recent li h6 a:hover, ul.portfolio-categ li.active a, ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover,ul.related-post li h4 a:hover, span.highlight,article .post-heading h3 a:hover,
        .navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > li > a:hover,.navbar .nav > li > a:focus,.navbar .nav > .active > a:focus  { 
            color:#f6b519;
        }

        .navbar-brand span{
            color:#f6b519;
        }
      

        header .nav li a:hover,
        header .nav li a:focus,
        header .nav li.active a,
        header .nav li.active a:hover,
        header .nav li a.dropdown-toggle:hover,
        header .nav li a.dropdown-toggle:focus,
        header .nav li.active ul.dropdown-menu li a:hover,
        header .nav li.active ul.dropdown-menu li.active a{
            color:#f6b519;
        }
        .navbar-default .navbar-nav > .active > a,
        .navbar-default .navbar-nav > .active > a:hover,
        .navbar-default .navbar-nav > .active > a:focus {
            color:#f6b519;
        }
        .navbar-default .navbar-nav > .open > a,
        .navbar-default .navbar-nav > .open > a:hover,
        .navbar-default .navbar-nav > .open > a:focus {
            color: #f6b519;
        }	
         
        
        .dropdown-menu > .active > a,
        .dropdown-menu > .active > a:hover,
        .dropdown-menu > .active > a:focus {
            color: #f6b519;
        }
         
         
         
            
         .navbar-toggle .icon-bar {
          display: block;
          width: 22px;
          height: 2px;
          background-color: #cccccc;
          border-radius: 1px;
        }
         
         .dropdown-toggle .icon-bars-button{
          display: inline-block;
          vertical-align:middle;
        }
        .dropdown-toggle .icon-bar {
          margin-bottom:2px;
          display: block;
          width: 22px;
          height: 2px;
          background-color: #cccccc;
          border-radius: 1px;
        }
         
         
        /* === background color === */

        .custom-carousel-nav.right:hover, .custom-carousel-nav.left:hover, 
        .dropdown-menu li:hover,
        .dropdown-menu li a:hover,
        .dropdown-menu li > a:focus,
        .dropdown-submenu:hover > a, 
        .dropdown-menu .active > a,
        .dropdown-menu .active > a:hover,
        .pagination ul > .active > a:hover,
        .pagination ul > .active > a,
        .pagination ul > .active > span,
        .flex-control-nav li a:hover, 
        .flex-control-nav li a.active {
          background-color: #f6b519;
        }


        .breadcrumb {
          background-color: #f6b519;
        }

        /* === border color === */
        .pagination ul > li.active > a,
        .pagination ul > li.active > span, a.thumbnail:hover, input[type="text"].search-form:focus {
            border:1px solid #f6b519;
        }

        textarea:focus,
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="date"]:focus,
        input[type="month"]:focus,
        input[type="time"]:focus,
        input[type="week"]:focus,
        input[type="number"]:focus,
        input[type="email"]:focus,
        input[type="url"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="color"]:focus,
        .uneditable-input:focus {
          border-color: #f6b519;
        }

        input:focus {
            border-color: #f6b519;
        }


        #sendmessage {
            color: #f6b519;
        }

        .pullquote-left {
            border-left:5px solid #f6b519;
        }

        .pullquote-right {
            border-right:5px solid #f6b519;
        }

        /* cta */

        .cta-text h2 span {
            color: #f6b519;
        }

        ul.clients li:hover {
            border:4px solid #f6b519;
        }

        /* box */
        .box-bottom {
            background:#f6b519;
        }

        /* buttons */
        .btn-dark:hover,.btn-dark:focus,.btn-dark:active  {
          background: #f6b519;
          border:1px solid #f6b519;
        }

        .btn-theme {
          border:1px solid #f6b519;
          background: #f6b519;
        }

        /* modal styled */
        .modal.styled .modal-header {
          background-color: #f6b519;
        }


        /* blog */
        .post-meta {
            border-top:4px solid #f6b519;
        }

        .post-meta .comments a:hover  {
            color:#f6b519;
        }

        .widget ul.tags li a:hover {
            background: #f6b519;
        }

        .recent-post .text h5 a:hover{
            color:#f6b519;
        }

        /* pricing box */

        .pricing-box-alt.special .pricing-heading {
            background: #f6b519;
        }


        /* portfolio */
        .item-thumbs .hover-wrap .overlay-img-thumb {
            background: #f6b519;	
        }


        /* pagination */
        #pagination a:hover {
            background: #f6b519;
        }

        /* pricing box */
        .pricing-box.special .pricing-offer{
            background: #f6b519;
        }


        /* fontawesome icons */
        .icon-square:hover,
        .icon-rounded:hover,
        .icon-circled:hover {
            background-color: #f6b519;
        }
        [class^="icon-"].active,
        [class*=" icon-"].active {
            background-color: #f6b519;
        }

        /* fancybox */
        .fancybox-close:hover {
            background-color:#f6b519;
        }
        .fancybox-nav:hover span {
            background-color:#f6b519;
        }

        /* parallax c slider */
        .da-slide .da-link:hover{
            background: #f6b519;
            border: 4px solid #f6b519;
        }

        .da-dots span{
            background: #f6b519;
        }

        /* flexslider */
        #featured .flexslider .slide-caption {
            border-left:5px solid #f6b519;
        }

        /* Nivo slider */
        .nivo-directionNav a:hover {
            background-color: #f6b519;
        }
        .nivo-caption, .caption {
            border-bottom: #f6b519 5px solid;
        }

        /* footer */
        footer{
            background:#343a40;
        }
        #sub-footer{
            background:#343a40;
        
        
    </style>
    
    
         <script>
        //<![CDATA[

        !function(){
          function get(u){document.write('<scr'+'ipt src="'+ u +'"></sc'+'ript>')}
          var o,s,v;
          if (!(window.Promise && Object.assign && Object.values && [].find && [].includes && (o={},s=Symbol(),v={},o[s]=v,o[s]===v) && (function f(){}).bind().name==='bound f')) {
            get("https://du11hjcvx0uqb.cloudfront.net/dist/ie11-polyfill-9f640d24ea.js");
          }
          window.fetch || get("https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js");
        }();

        //]]>
        </script>
    
     <!-- <script src="https://du11hjcvx0uqb.cloudfront.net/dist/lato-fontfaceobserver-ed903d58c4.js" async="async"></script>-->
    
    
    

        <meta name="apple-itunes-app" content="app-id=480883488" />
    
        <link rel="manifest" href="/web-app-manifest/manifest.json" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<meta name="theme-color" content="#008EE2">-->
    
    
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    

    <!---- New CSS Files -->
    
        <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
        <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
    
    
    
    
</head>

<body>
	<div id="wrapper">

		<!-- start header -->
		<header>
			<div class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
						<a class="navbar-brand" href="index.html"><span>AWS </span>Training &amp; Certification: Portfolio</a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li><a href="index.html">Home</a></li>
							<!--<li class="dropdown ">
								<a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Features <b class=" icon-angle-down"></b></a>
								<ul class="dropdown-menu">
									<li><a href="typography.html">Typography</a></li>
									<li><a href="components.html">Components</a></li>
									<li><a href="pricingbox.html">Pricing box</a></li>
								</ul>
							</li>-->
							<li class="active"><a href="portfolio.html">Portfolio</a></li>
							<li><a href="blog.html">Blog</a></li>
                            <li><a href="Cloud9_Serverless_DB_Tutorial.pdf">ServerlessDemo</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- end header -->
		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-15">
						<ul class="breadcrumb">
							<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							<li class="active">Portfolio</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
        
        
		<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="portfolio-categ filter">
							<li class="all active"><a href="#">All</a></li>
							<li class="web"><a href="#" title="">IaaS</a></li>
							<li class="icon"><a href="#" title="">SaaS</a></li>
							<li class="graphic"><a href="#" title="">PaaS</a></li>
						</ul>
						<div class="clearfix">
						</div>
						<div class="row">
							<section id="projects">
								<ul id="thumbs" class="portfolio">
									<!-- Item Project and Filter Name -->
									<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
										<!-- Fancybox - Gallery Enabled - Title - Full Image -->
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IaaS: Modular and Scalable VPC Architecture" href="img/works/quickstart-vpc-design-fullscreen.png">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
										<!-- Thumb Image and Description -->
										<img src="img/works/quickstart-vpc-design-fullscreen.png" alt="It builds a virtual private network (VPC) environment with public and private subnets where you can launch AWS services and other resources.">
									</li>
									<!-- End Item Project -->
									<!-- Item Project and Filter Name -->
									<li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
										<!-- Fancybox - Gallery Enabled - Title - Full Image -->
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="SaaS: identity and isolation with Amazon Cognito" href="img/works/saas-identity-with-cognito-architecture-on-aws.4a8b71de8643e42b6735497c8fd7ef82ac933e9c.png">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
										<!-- Thumb Image and Description -->
										<img src="img/works/saas-identity-with-cognito-architecture-on-aws.4a8b71de8643e42b6735497c8fd7ef82ac933e9c.png" alt="This Quick Start implements a high availability solution for identity and isolation in multi-tenant software as a service (SaaS) environments, using Amazon Cognito as the identity provider.">
									</li>
									<!-- End Item Project -->
									<!-- Item Project and Filter Name -->
									<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="graphic">
										<!-- Fancybox - Gallery Enabled - Title - Full Image -->
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="PaaS: Data Lake Foundation on AWS" href="img/works/data-lake-architecture-on-the-aws-cloud-47lining.eaaf70438e0ff381c21a7a5b4adf212927aaad82.png">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
										<!-- Thumb Image and Description -->
										<img src="img/works/data-lake-architecture-on-the-aws-cloud-47lining.eaaf70438e0ff381c21a7a5b4adf212927aaad82.png" alt="The data lake foundation uses these AWS services to provide capabilities such as data submission, ingest processing, dataset management, data transformation and analysis, building and deploying machine learning tools, search, publishing, and visualization.">
									</li>
									<!-- End Item Project -->
									<!-- Item Project and Filter Name -->
									<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
										<!-- Fancybox - Gallery Enabled - Title - Full Image -->
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IaaS: Single-AZ or Multi-AZ configuration, with EC2 instances certified by SAP for your production workloads." href="img/works/sap-on-aws-architecture-multi-node.30975e98463e349ac78f8df99e69010504f9fcbd.png">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
										<!-- Thumb Image and Description -->
										<img src="img/works/sap-on-aws-architecture-multi-node.30975e98463e349ac78f8df99e69010504f9fcbd.png" alt="SAP HANA is an in-memory relational database and application platform that provides high-performance analytics and real-time data processing.">
									</li>
									<!-- End Item Project -->
									<!-- Item Project and Filter Name -->
									<li class="item-thumbs col-lg-3 photography" data-id="id-4" data-type="web">
										<!-- Fancybox - Gallery Enabled - Title - Full Image -->
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IaaS: Secure remote access with Linux bastion hosts on the AWS Cloud" href="img/works/linux-bastion-architecture.584765ff724625db9ab0d91a8ccb1c2eb7e15a5b.png">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
										<!-- Thumb Image and Description -->
										<img src="img/works/linux-bastion-architecture.584765ff724625db9ab0d91a8ccb1c2eb7e15a5b.png" alt="The bastion hosts provide secure access to Linux instances located in the private and public subnets of your virtual private cloud (VPC).">
									</li>
									<!-- End Item Project -->
									<!-- Item Project and Filter Name -->
									<li class="item-thumbs col-lg-3 photography" data-id="id-5" data-type="icon">
										<!-- Fancybox - Gallery Enabled - Title - Full Image -->
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="SaaS: Big data integration and transformation on the AWS Cloud" href="img/works/informatica-bdm-architecture.565dedebd0c83466795bf04eb95b5957112b789d.png">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
										<!-- Thumb Image and Description -->
										<img src="img/works/informatica-bdm-architecture.565dedebd0c83466795bf04eb95b5957112b789d.png" alt="Big Data Management enables you to integrate, govern, and secure big data assets in Apache Hadoop. The automated deployment includes Informatica Domain, Model Repository Service, and Data Integration Service.">
									</li>
									<!-- End Item Project -->
									<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
										<!-- Fancybox - Gallery Enabled - Title - Full Image -->
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IaaS: All-in-one application delivery platform on the AWS Cloud " href="img/works/nginx-plus-architecture.efa0d99acd1d7ddb6141194133be0a4ee625df9f.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
										<!-- Thumb Image and Description -->
										<img src="img/works/nginx-plus-architecture.efa0d99acd1d7ddb6141194133be0a4ee625df9f.jpg" alt="NGINX Plus adds technical support and enterprise-ready features for advanced load balancing, web and mobile acceleration, application security, monitoring, and management.">
									</li>
									<!-- End Item Project -->
									<!-- Item Project and Filter Name -->
									<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="graphic">
										<!-- Fancybox - Gallery Enabled - Title - Full Image -->
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="PaaS: Store and transform data for building predictive and prescriptive applications" href="img/works/pariveda-data-lake-sagemaker-on-aws-architecture.50175e74b2b654a12ab2cbe933f47a3a018f0d12.png">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
										<!-- Thumb Image and Description -->
										<img src="img/works/pariveda-data-lake-sagemaker-on-aws-architecture.50175e74b2b654a12ab2cbe933f47a3a018f0d12.png" alt="This Quick Start builds a data lake environment for building, training, and deploying machine learning (ML) models with Amazon SageMaker on the Amazon Web Services (AWS) Cloud.">
									</li>
									<!-- End Item Project -->
								</ul>
							</section>
						</div>
					</div>
				</div>
			</div>
		</section>
        
        
        
        <section class="callaction">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="big-cta">
							<div class="cta-text">
								<h2><span>Amazon Web Services (AWS):</span> Teach Tomorrow's Cloud Workforce Today</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        
        <br><br><br><br>
        
         <div class="dropdown">
              <div class="item-group">
                <div class="ig-header">
                  <h2 class="ig-header-title element_toggler"
                     aria-controls="cond_group_1"
                     aria-expanded="true"
                     aria-label="Item Group Header toggle item visibility"
                     role="button">
                      <div class="ic-image-text-combo__text">
                        <!--<i class="icon-mini-arrow-down"></i> Item Group Header-->
            <!--&darr; Item Group Header-->
                          <h4><span class="glyphicon glyphicon-edit"></span> Infrastructure as a Service (IaaS):</h4>
                          <!--<i class="fas fa-arrow-down"></i> Item Group Header-->
                      </div>
                  </h2>
                </div>

                <ul class="ig-list" id="cond_group_1">
                  <li>
                    <!--<div class="ig-row ig-published">-->
                    <div class="ig-row ig-published">
                      <div class="ig-row__layout">
                        <div class="ig-type-icon" aria-hidden="true">
                          <!--<i class="icon-assignment"></i>-->
                            <span class="glyphicon glyphicon-file"></span>
                        </div>
                        <div class="ig-info">
                          <a href="https://aws.amazon.com/cloudformation/" class="ig-title">
                            AWS CloudFormation: Model and provision all your cloud infrastructure resources
                          </a>
                          <div class="ig-details">
                            <div class="ig-details__item"><b>Due</b> Nov 4, 2012</div>
                            <div class="ig-details__item"><b>Available</b> Nov 1</div>
                            <div class="ig-details__item">10 pts</div>
                          </div>
                        </div>
                        <div class="ig-admin">
                          <!--<span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
                            <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
                          </span>-->

                          <div class="inline-block">
                            <a class="al-trigger al-trigger-gray" href="#" role="button">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                              <!--<i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>-->
                                <span class="glyphicon glyphicon-cog"></span>
                              <!--<span class="screenreader-only"><%= t('manage', 'Manage') %></span>-->
                            </a>
                            <ul class="al-options">
                              <li><a href="#">Edit</a></li>
                              <li><a href="#">Delete</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="ig-row">
                      <div class="ig-row__layout">
                        <div class="ig-type-icon" aria-hidden="true">
                          <!--<i class="icon-assignment"></i>-->
                            <span class="glyphicon glyphicon-file"></span>

                        </div>
                        <div class="ig-info">
                          <a href="https://aws.amazon.com/route53/" class="ig-title">
                            Amazon Route 53: A reliable and cost-effective way to route end users to Internet applications
                          </a>
                          <div class="ig-details">
                            <div class="ig-details__item"><b>Due</b> Nov 4, 2012</div>
                            <div class="ig-details__item"><b>Available</b> Nov 1</div>
                            <div class="ig-details__item">10 pts</div>
                          </div>
                        </div>
                        <div class="ig-admin">
                          <!--<span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
                            <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
                          </span>-->

                            
                          <div class="inline-block">
                            <a class="al-trigger al-trigger-gray" href="#" role="button">
                              <!--<i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>-->
                                
                              <!--<span class="screenreader-only"><%= t('manage', 'Manage') %></span>-->
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                
                                 <span class="glyphicon glyphicon-cog"></span>
                            </a>
                            <ul class="al-options">
                              <li><a href="#">Edit</a></li>
                              <li><a href="#">Delete</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="ig-row">
                      <div class="ig-row__layout">
                        <div class="ig-type-icon" aria-hidden="true">
                          <!--<i class="icon-assignment"></i>-->
                          <span class="glyphicon glyphicon-file"></span>


                        </div>
                        <div class="ig-info">
                          <a href="https://aws.amazon.com/cloudfront/" class="ig-title">
                            Amazon CloudFront: Fast, highly secure and programmable content delivery network (CDN)
                          </a>
                          <div class="ig-details">
                            <div class="ig-details__item"><b>Due</b> Nov 4, 2012</div>
                            <div class="ig-details__item"><b>Available</b> Nov 1</div>
                            <div class="ig-details__item">10 pts</div>
                          </div>
                        </div>
                        <div class="ig-admin">
                         <!-- <span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
                            <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
                          </span>-->

                          <div class="inline-block">
                            <a class="al-trigger al-trigger-gray" href="#" role="button">
                                
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                
                                <span class="glyphicon glyphicon-cog"></span>
                              <!--<i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
                              <span class="screenreader-only"><%= t('manage', 'Manage') %></span>-->
                            </a>
                            <ul class="al-options">
                              <li><a href="#">Edit</a></li>
                              <li><a href="#">Delete</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="item-group">
                <div class="ig-header">
                  <h2 class="ig-header-title element_toggler"
                     aria-controls="cond_group_2"
                     aria-expanded="true"
                     aria-label="Item Group Header toggle item visibility"
                     role="button">
                    <h4><span class="glyphicon glyphicon-edit"></span> Platform as a Service (PaaS):</h4>
                  </h2>
                </div>
                <ul class="ig-list" id="cond_group_2">
                <li>
                  <div class="ig-row ig-published">
                    <div class="ig-row__layout">
                      <div class="ig-type-icon" aria-hidden="true">
                        <!--<i class="icon-assignment"></i>-->
                          <span class="glyphicon glyphicon-file"></span>
                      </div>
                      <div class="ig-info">
                        <a href="https://aws.amazon.com/blogs/deardevopsabby/paas-scheduled-tasks-containerizing/" class="ig-title">
                          PaaS, scheduled tasks for ECS, and containerizing your services.
                        </a>
                        <div class="ig-details">
                          <div class="ig-details__item"><b>Due</b> Nov 4, 2012</div>
                          <div class="ig-details__item"><b>Available</b> Nov 1</div>
                          <div class="ig-details__item">10 pts</div>
                        </div>
                      </div>
                      <div class="ig-admin">
                        <!--<span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
                          <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
                        </span>-->

                        <div class="inline-block">
                          <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="content-1" href="#">
                            <!--<i class="icon-settings"></i>
                            <i class="icon-mini-arrow-down"></i>
                            <span class="screenreader-only">Settings</span>-->
                              <span class="glyphicon glyphicon-remove-circle"></span>
                                
                                <span class="glyphicon glyphicon-cog"></span>
                          </a>

                          <ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
                            <li role="presentation">
                              <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
                            </li>
                            <li role="presentation">
                              <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                    
                      <li>
                  <div class="ig-row">
                    <div class="ig-row__layout">
                      <div class="ig-type-icon" aria-hidden="true">
                        <!--<i class="icon-assignment"></i>-->
                          <span class="glyphicon glyphicon-file"></span>
                      </div>
                      <div class="ig-info">
                        <a href="https://aws.amazon.com/elasticbeanstalk/" class="ig-title">
                          AWS Elastic Beanstalk
                        </a>
                        <div class="ig-details">
                          <div class="ig-details__item"><b>Due</b> Nov 4, 2012</div>
                          <div class="ig-details__item"><b>Available</b> Nov 1</div>
                          <div class="ig-details__item">10 pts</div>
                        </div>
                      </div>
                      <div class="ig-admin">
                        <!--<span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
                          <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
                        </span>-->

                        <div class="inline-block">
                          <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="content-1" href="#">
                            <!--<i class="icon-settings"></i>
                            <i class="icon-mini-arrow-down"></i>
                            <span class="screenreader-only">Settings</span>-->
                              <span class="glyphicon glyphicon-remove-circle"></span>
                                
                                <span class="glyphicon glyphicon-cog"></span>
                          </a>

                          <ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
                            <li role="presentation">
                              <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
                            </li>
                            <li role="presentation">
                              <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                    
                      <li>
                  <div class="ig-row">
                    <div class="ig-row__layout">
                      <div class="ig-type-icon" aria-hidden="true">
                        <!--<i class="icon-assignment"></i>-->
                          <span class="glyphicon glyphicon-file"></span>
                      </div>
                      <div class="ig-info">
                        <a href="https://aws.amazon.com/opsworks/" class="ig-title">
                          AWS OpsWorks: Automate Operations with Chef and Puppet
                        </a>
                        <div class="ig-details">
                          <div class="ig-details__item"><b>Due</b> Nov 4, 2012</div>
                          <div class="ig-details__item"><b>Available</b> Nov 1</div>
                          <div class="ig-details__item">10 pts</div>
                        </div>
                      </div>
                      <div class="ig-admin">
                        <!--<span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
                          <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
                        </span>-->

                        <div class="inline-block">
                          <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="content-1" href="#">
                            <!--<i class="icon-settings"></i>
                            <i class="icon-mini-arrow-down"></i>
                            <span class="screenreader-only">Settings</span>-->
                              <span class="glyphicon glyphicon-remove-circle"></span>
                                
                                <span class="glyphicon glyphicon-cog"></span>
                          </a>

                          <ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
                            <li role="presentation">
                              <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
                            </li>
                            <li role="presentation">
                              <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                    
                    
                    
                </ul>
              </div> 
                
                 <div class="item-group">
                <div class="ig-header">
                  <h2 class="ig-header-title element_toggler"
                     aria-controls="cond_group_2"
                     aria-expanded="true"
                     aria-label="Item Group Header toggle item visibility"
                     role="button">
                    <h4><span class="glyphicon glyphicon-edit"></span> Software as a Service (SaaS):</h4>
                  </h2>
                </div>
                <ul class="ig-list" id="cond_group_2">
                <li>
                  <div class="ig-row ig-published">
                    <div class="ig-row__layout">
                      <div class="ig-type-icon" aria-hidden="true">
                        <!--<i class="icon-assignment"></i>-->
                          <span class="glyphicon glyphicon-file"></span>
                      </div>
                      <div class="ig-info">
                        <a href="https://aws.amazon.com/rds/sqlserver/" class="ig-title">
                          Amazon RDS for SQL Server
                        </a>
                        <div class="ig-details">
                          <div class="ig-details__item"><b>Due</b> Nov 4, 2012</div>
                          <div class="ig-details__item"><b>Available</b> Nov 1</div>
                          <div class="ig-details__item">10 pts</div>
                        </div>
                      </div>
                      <div class="ig-admin">
                        <!--<span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
                          <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
                        </span>-->

                        <div class="inline-block">
                          <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="content-1" href="#">
                            <!--<i class="icon-settings"></i>
                            <i class="icon-mini-arrow-down"></i>
                            <span class="screenreader-only">Settings</span>-->
                              <span class="glyphicon glyphicon-remove-circle"></span>
                                
                                <span class="glyphicon glyphicon-cog"></span>
                          </a>

                          <ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
                            <li role="presentation">
                              <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
                            </li>
                            <li role="presentation">
                              <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                    
                      <li>
                  <div class="ig-row">
                    <div class="ig-row__layout">
                      <div class="ig-type-icon" aria-hidden="true">
                        <!--<i class="icon-assignment"></i>-->
                          <span class="glyphicon glyphicon-file"></span>
                      </div>
                      <div class="ig-info">
                        <a href="https://aws.amazon.com/rds/oracle/" class="ig-title">
                          Amazon RDS for Oracle
                        </a>
                        <div class="ig-details">
                          <div class="ig-details__item"><b>Due</b> Nov 4, 2012</div>
                          <div class="ig-details__item"><b>Available</b> Nov 1</div>
                          <div class="ig-details__item">10 pts</div>
                        </div>
                      </div>
                      <div class="ig-admin">
                        <!--<span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
                          <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
                        </span>-->

                        <div class="inline-block">
                          <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="content-1" href="#">
                            <!--<i class="icon-settings"></i>
                            <i class="icon-mini-arrow-down"></i>
                            <span class="screenreader-only">Settings</span>-->
                              <span class="glyphicon glyphicon-remove-circle"></span>
                                
                                <span class="glyphicon glyphicon-cog"></span>
                          </a>

                          <ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
                            <li role="presentation">
                              <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
                            </li>
                            <li role="presentation">
                              <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                    
                      <li>
                  <div class="ig-row">
                    <div class="ig-row__layout">
                      <div class="ig-type-icon" aria-hidden="true">
                        <!--<i class="icon-assignment"></i>-->
                          <span class="glyphicon glyphicon-file"></span>
                      </div>
                      <div class="ig-info">
                        <a href="https://d1.awsstatic.com/whitepapers/saas-solutions-on-aws-final.pdf" class="ig-title">
                          SaaS Whitepaper
                        </a>
                        <div class="ig-details">
                          <div class="ig-details__item"><b>Due</b> Nov 4, 2012</div>
                          <div class="ig-details__item"><b>Available</b> Nov 1</div>
                          <div class="ig-details__item">10 pts</div>
                        </div>
                      </div>
                      <div class="ig-admin">
                        <!--<span class="publish-icon publish-icon-published" data-tooltip title="Unpublish">
                          <i class="icon-publish"></i><span class="publish-text">&nbsp;Published</span>
                        </span>-->

                        <div class="inline-block">
                          <a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" aria-owns="content-1" href="#">
                            <!--<i class="icon-settings"></i>
                            <i class="icon-mini-arrow-down"></i>
                            <span class="screenreader-only">Settings</span>-->
                              <span class="glyphicon glyphicon-remove-circle"></span>
                                
                                <span class="glyphicon glyphicon-cog"></span>
                          </a>

                          <ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2">
                            <li role="presentation">
                              <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
                            </li>
                            <li role="presentation">
                              <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                    
                    
                    
                </ul>
              </div> 
                
                
    </div>

              
        
        
        
        
        
        
        
        
        
        
        
        
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">Get in touch with us</h5>
								<address>
					<strong>Amazon Web Services</strong><br>
					 12900 Worldgate Dr<br>
					 Herndon, VA 20170</address>
							<p>
								<i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
								<i class="icon-envelope-alt"></i> email@domainname.com
							</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">Pages</h5>
							<ul class="link-list">
								<li><a href="#">Press release</a></li>
								<li><a href="#">Terms and conditions</a></li>
								<li><a href="#">Privacy policy</a></li>
								<li><a href="#">Career center</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">Latest posts</h5>
							<ul class="link-list">
								<li><a href="#">Code.org's Hour of Code</a></li>
								<li><a href="#">Smart City Cloud Center at ASU</a></li>
								<li><a href="#">Inspiring Kids to Code</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">Flickr photostream</h5>
							<div class="flickr_badge">
								<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
							</div>
							<div class="clear">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sub-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="copyright">
								<p>&copy; Bootstrap Theme. All right reserved.</p>
								<div class="credits">
									
                                    
									Developed by Lennox Thompson
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<ul class="social-network">
								<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    

   
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    
	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.fancybox.pack.js"></script>
	<script src="js/jquery.fancybox-media.js"></script>
	<script src="js/google-code-prettify/prettify.js"></script>
	<script src="js/portfolio/jquery.quicksand.js"></script>
	<script src="js/portfolio/setting.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>
    
     
    
     <script src="https://du11hjcvx0uqb.cloudfront.net/dist/webpack-production/navigation_header.bundle-164a78094a.js" defer="defer"></script>
    
    
    <link rel="stylesheet" media="all" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/new_styles_normal_contrast/bundles/react_todo_sidebar-a79387220a.css" />
    <link rel="stylesheet" media="all" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/new_styles_normal_contrast/bundles/dashboard-4f1cde7bb8.css" />
    <link rel="stylesheet" media="all" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/new_styles_normal_contrast/bundles/dashboard_card-a5e841c49f.css" />

    <link rel="stylesheet" media="all" href="https://instructure-uploads.s3.amazonaws.com/account_80000000082672/attachments/69876219/EK.css" />
 
    <link rel="stylesheet" media="all" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/new_styles_normal_contrast/bundles/common-84293ce084.css" />
</body>

    
</html>
